/* style.css - style simple pour le portfolio */
:root {
  --accent: #0366d6;
  --muted: #666;
}
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  border: 0;
  margin: 0;
  padding: 0;
  min-width: 1500px;
  min-height: 1000px;
  max-height: 1500px;
  line-height: 1.5;
  background: linear-gradient(135deg,#f9f8fa 0%, #2d545c86 50%, #070e3bd0 90%);
}
header {
  border: 0%;
  margin: 0%;
  padding: 1rem;
  background: linear-gradient(90deg, rgb(15, 43, 66) 10%, rgb(0, 0, 0) 90%);
  max-width: 1500px;
  min-width: 1500px;
  height: 350px;
  text-align: center;
  font-size: xx-large;

}
h1 { margin: 0 0 0.25rem 0; 
}
.headd {
  background: linear-gradient(99deg, rgb(122, 19, 113) 30%, rgb(83, 40, 239) 40%, rgb(181, 74, 74) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bande{min-width: 1500px; height: 50px; 
  background: linear-gradient(90deg, rgb(253, 253, 255) 4%, rgba(6, 13, 44, 0.681) 80%); margin: 0 auto;}
h3 { margin-top: 1rem; color: whitesmoke;
background-color: #1a6aa3ad;
padding: 0.5rem; border-radius: 8px;
width: fit-content; }
  
nav a { color: var(--accent); text-decoration: none; }
h2 { margin-top: 1.25rem;  color: whitesmoke;
background-color: #051d3ead;
padding: 0.5rem; border-radius: 8px;
width: fit-content; }
section { margin: 2rem auto; max-width: 900px; padding: 0 1rem;
}
footer { margin-top: 2rem; color: var(--muted); font-size: 0.9rem; }
a:hover { text-decoration: underline; }